/* Optional dev helper */
body:before {
    content: 'DEV MODE';
    position: fixed;
    right: .5rem;
    top: .5rem;
    background: #fee;
    border: 1px solid #f99;
    padding: .25rem .4rem;
    border-radius: .25rem;
    font: 12px/1.2 monospace;
    color: #900;
}